body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .bloc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .Card.active .recto {
    display:none
  }
  
  .Card.active {
   margin:10px;
   padding: 80px 40px 80px 40px ;
   background:green;
   height:100%;
   color:rgb(0, 0, 0);
   border: 2px solid red;
   position: relative;
   transition: transform 1s;
   transform-style: preserve-3d;
   }
  
   .Card.inactive {
    height:100%;margin:10px;
    padding: 80px 40px 80px 40px ;
    background:rgb(246, 255, 0);
    color:red;
    border: 2px solid blueviolet;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
    @keyframes cardFlip {
        0% {
          transform: rotateY(0deg);
        }
        50%{
            transform: rotateY(90deg);
        }
        100% {
          transform: rotateY(0deg);
        }
    
    }
  
  